<mat-card style="position: center">
  <mat-card-header>
    <mat-card-title>
      Register
    </mat-card-title>
  </mat-card-header>
  <mat-form-field>
    <input matInput [(ngModel)]="register.username" placeholder="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="register.email" placeholder="email"><br>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="register.password" placeholder="password" type="password"><br>
  </mat-form-field>
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <mat-card-actions>
        <button mat-button routerLink="/login">Already have an Account? Login instead</button>
      </mat-card-actions>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-actions>
        <button mat-button (click)="registerUser()">Register</button>
      </mat-card-actions>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

