<mat-toolbar>
  <mat-toolbar-row>
    <p><b>Tools: </b></p>
    <button mat-raised-button color="primary" (click)="openAddBill()" style="margin: 5%">Add Bill</button>
  </mat-toolbar-row>
</mat-toolbar>

<!--Bill Data Table-->
<table mat-table [dataSource]="bills">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let e">{{e.id}}</td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount</th>
    <td mat-cell *matCellDef="let e">
      {{e.amount}}
      <img *ngIf="e.intake" src="../../../../assets/trending_up-24px.svg">
      <img *ngIf="!e.intake" src="../../../../assets/trending_down-24px.svg">
    </td>
  </ng-container>

  <!-- Project Column -->
  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef> Project</th>
    <td mat-cell *matCellDef="let e"> {{e.project_name}} </td>
  </ng-container>

  <!-- Seller Column -->
  <ng-container matColumnDef="seller">
    <th mat-header-cell *matHeaderCellDef> Seller</th>
    <td mat-cell *matCellDef="let e"> {{e.seller_name}} </td>
  </ng-container>

  <!-- Ordered-By Column -->
  <ng-container matColumnDef="ordered_by">
    <th mat-header-cell *matHeaderCellDef> Ordered By</th>
    <td mat-cell *matCellDef="let e"> {{e.ordered_by_name}} </td>
  </ng-container>

  <!-- Date of Order Column -->
  <ng-container matColumnDef="date_order">
    <th mat-header-cell *matHeaderCellDef> Ordered On</th>
    <td mat-cell *matCellDef="let e"> {{e.date_order}} </td>
  </ng-container>

  <!-- Is-Paid Column -->
  <ng-container matColumnDef="paid">
    <th mat-header-cell *matHeaderCellDef> Paid</th>
    <td mat-cell *matCellDef="let e">
      <img *ngIf="e.paid" src="../../../../assets/done-24px.svg">
      <img *ngIf="!e.paid" src="../../../../assets/error-24px.svg">
    </td>
  </ng-container>
  <!-- Date of Payment Column -->
  <ng-container matColumnDef="date_paid">
    <th mat-header-cell *matHeaderCellDef> Paid On</th>
    <td mat-cell *matCellDef="let e"> {{e.date_paid}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBillView(row.id)"></tr>

</table>
<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
