<mat-toolbar>
  <mat-toolbar-row>
    <p><b>Tools: </b></p>
    <button mat-raised-button color="primary" (click)="openAddProject()" style="margin: 5%">Add Project</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="2:1">
  <div *ngFor="let project of projects">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{project.name}}</mat-card-title>
        </mat-card-header>
        <a routerLink="/project/{{project.id}}"><img src="{{project.image}}" alt="" width="40%" height="40%"></a>
        <div style="float: right; width: 50%"> {{project.description | slice : 0: 300}}...</div>
        <mat-card-content>
          <p><b class="text-secondary">{{project.member_ids.length}} Members</b></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>


