<mat-grid-list cols="3" rowHeight="2:1">
  <div *ngFor="let project of projects | async">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{project.name}}</mat-card-title>
        </mat-card-header>
        <a routerLink="/project/{{project.id}}"><img src="{{project.image}}" alt="" width="40%" height="40%"></a>
        <mat-card-content>
          <p>{{project.description | slice : 0: 30}} ... <b class="text-secondary">{{project.member_ids.length}}
            Members</b></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<!--<input [(ngModel)]="new_project.name" placeholder="name"><br>-->
<!--<input [(ngModel)]="new_project.description" placeholder="description"><br>-->
<!--<input [(ngModel)]="new_project.lead" placeholder="lead"><br>-->
<!--<input [(ngModel)]="member_ids" placeholder="member_ids"><br>-->
<!--<input [(ngModel)]="new_project.image" placeholder="image link"><br>-->
<!--<button (click)="createNewProject()">add Project</button>-->


